.elementor-160 .elementor-element.elementor-element-5d8eaf83{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-160 .elementor-element.elementor-element-b805e3b:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-160 .elementor-element.elementor-element-b805e3b > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1C2B36;}.elementor-160 .elementor-element.elementor-element-b805e3b > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-160 .elementor-element.elementor-element-b805e3b > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-160 .elementor-element.elementor-element-d861df0 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-160 .elementor-element.elementor-element-23236b58 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-160 .elementor-element.elementor-element-cc779e9{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-160 .elementor-element.elementor-element-cc779e9 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-160 .elementor-element.elementor-element-4b383d1{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}body.elementor-page-160 h1.entry-title, .elementor-page-title{display:none;}@media(min-width:768px){.elementor-160 .elementor-element.elementor-element-b805e3b{width:17.857%;}.elementor-160 .elementor-element.elementor-element-d861df0{width:82.143%;}}/* Start custom CSS for page-settings */p.respond-label {
    display: inline;
}
i.fas.fa-exclamation-circle {
    background-color: red;
    color: white !important;
    border-radius: 50px;
}


.notes {
    background-color: white;
    padding-left: 15px;
    height: 300px;
}
.btn-position {
    display: inline;
    padding: 20px;
}
.appointment-stats {
    display:flex;
    background-color: white;
    padding-bottom: 15px;
    padding-left: 15px;
}
p.respond-time {
    width: 70%;
}
.transaction-buttons {
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
}
button.transac-buttons {
    background-color: white;
    border: 1px solid;
    width: 250px;
    font-size: 20px;
}
.full-details {
    display: inline-flex;
    width: 100%;
}
.appointment-time {
    float: right;
}
p.appointment-legend {
    font-size: 19px;
    font-weight: bold;
}
p.appointment-cancellation {
    font-weight: bold;
    font-size: 19px;
    padding-left: 50px;
}
p.request {
    padding-left: 5px;
}
p.name-info {
    color: #17a2b8;
}
.full-details {
    background-color: white;
    padding: 15px;
}
.basic-infos {
    display: flex;
}
.infos {
    display: flex;
}
.informaiton-details {
    width: 50%;
}

.appointment-details {
    width: 50%;
}
p.cancellation {
    padding-left: 30px;
}
p.total-revenue {
    font-size: 27px;
}
/*original side nav hidden*/
div#wcfm_menu {
    display: none  !important;
}

span.wcfm_responsive_menu_toggler.wcfmfa.fa-bars {
    display: none !important;
}
span.wcfm_menu_toggler.wcfmfa.fa-bars.text_tip {
    display: none !important;
}
/*Jaspher Side nav bar Css*/

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 0px !important;
}
/*.elementor-container.elementor-column-gap-default {*/
/*    display: none !important;*/
/*}*/

#wcfm-main-contentainer {
  margin: 0px !IMPORTANT;  
}
#wcfm-content {
    border: none !Important;
  
}
.list-con li.elementor-icon-list-item:hover {
    background-color: #17A2B8 !important;
    padding: 10px 0px 10px 12px!important;
  
}
  
.list-con  li.elementor-icon-list-item {
   
    padding: 10px 0px 10px 12px!important;
  
}



.list-con li.elementor-icon-list-item:active {
    background-color: #17A2B8 !important;
    padding: 10px 0px 10px 12px!important;
  
}
  
.list-con  li.elementor-icon-list-item {
   
    padding: 10px 0px 10px 12px!important;
  
}
button.listing-creation {
    float: right;
    background-color: #1c2b36;
}
.listing-text{
    color: white;
}

/*end of Jaspher Side nav bar Css*/



/* Listing */
/*#wcfm-main-contentainer label {*/
/*    display: inline-block;*/
/*    min-width: 20% !important;*/
/*    text-align: center;*/
/*}*/
 .fa.fa-trash{
  font-size:25px;
}

p.catalog_visibility.wcfm_title.wcfm_full_ele.catalog_visibility_ele { display: none !important; } select#catalog_visibility { display: none !important; }
#wcfm-main-contentainer .tabs label {
    display: inline-block;
    width: 20%;
    text-align: center;
}
.fa.fa-user-plus{
  padding-left: 10px;
}
button.delist {
    width: 60%;
    display: flex;
    margin-left: 39%;
}

.fa.fa-trash{
  color: black;
}
.greyedout{
    text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: not-allowed;

  padding: 8px;
  background-color: #eceef2;
  border-radius: 6px;
  color: black;
  font-size: 14px;
}
.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  padding: 8px;
  background-color: #43cf62;
  border-radius: 6px;
  color: white;
  font-size: 14px;
}
.checked {
  color: orange;
}

/*Grid Style*/
.uk-text-justify.toggle-text{
  word-break: break-all;
}


  .wrapper {
  width:  40%;
      height: 145px;
  padding:5px;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  grid-gap: 10px;
  grid-auto-rows: minmax(0px, auto);
  border:1px solid #cecece;
  border-radius: 8px;
  margin: 5px;
  font-family: montserrat !important;
  float:left;
}




.one {
  padding-top: 5px;
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;

}
.two {


  width: 140%;
  padding-top: 8px;
  grid-column: 2;
  grid-row: 1;
  font-size: 12px;
  margin-left:-8px;
 
}

.three {
 margin-top:-5px;
  grid-column: 3;
  grid-row: 1;
  margin-left: 40px;
 text-align: right;

}
.four {
  grid-column: 1;
  grid-row: 2;

}

.five {
  grid-column: 2;
  grid-row:2;

}


.six {
  grid-column: 3;
  grid-row: 2;
  text-align: right;
  padding-right: 8px;

}
.seven {
  grid-column: 1;
  grid-row: 3;
 margin-right: -150px;

}


.eight {
  grid-column: 2;
  grid-row: 3;

}


.nine {
 
  grid-column: 3;
  grid-row: 3;
  text-align: right;
  padding-top: 10px;

}

div#wcfm_build_listing_expander {
    width: 123%;
}
.container {
    margin-left: -12px;
}

i.fa.fa-circle-o {
    display: inline;
    color: transparent;
    font-size: 70%;
    padding: .5em;
    border-radius: 50%;
    background-color: #EFE6F3;
    border-color: none !important;
}
i.fa.fa-trash {
    cursor: pointer;
}
.tabs input[type="radio"]:checked + label {
    background: #17a2b8 !important;
    color: white !important;
}
.tabs label {
    color: white;
}
/*End of listing */
div#wcfm_products_manage_form_appointment_options_head {
    display: none;
}
.wcfm-container.appointment {
    display: none;
}
div#wcfm_products_manage_form_appointment_availability_head {
    display: none;
}
#regular_price,.regular_price{
    display: none!important;
}
.pricerules{
    display: none;
}
/*Appointment Tab*/

/*listings page */


/* css removed 
.wcfm-collapse .wcfm-container{
    position:relative!important;
}
*/
.dropdowncontent {
    display: none;   
}    

/* listing manager */
#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}
.grid-container-listings {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.grid-item-listings {
  text-align: center;
}
.grid-container-listing-content {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #F2F2F2;
  padding: 10px;
}
.grid-item-listing-content {
  background-color: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}
/*nav menu*/
span.wcfmfa.fa- {
    display: none !important;
}
/*nav menu*/
p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.tooltip1 p {
    display: inline;
}
/*calendar*/
table#tableForm thead tr th {
    background-color: #17A2B8!important;
    color: white!important;
    text-align: center!important;
}
table#tableForm tbody tr td {
    width:30px!important;
}
th#dateToday {
    font-size: 20px!important;
}
table#tableForm2 thead tr th {
    background: #17A2B8;
    text-align: center!important;
}
table#tableForm2 th h5{
    color:white!important;
}

.fc-left h2 {
    color: black!important;
    padding-top: 10px!important;
    font-weight: bold!important;
}
th.fc-day-header.fc-widget-header {
    background: #17A2B8!important;
    color: white!important;
    border: none!important;
}
td.fc-head-container.fc-widget-header {
    background: #17A2B8!important;
}
td.fc-day-top {
    text-align: center!important;
}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #ddd;
}
.fc th, .fc td {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
}

.fc-view-container *, .fc-view-container *:before, .fc-view-container *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.fc table {
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}

body .fc {
    font-size: 1em;
}
.fc {
    direction: ltr;
    text-align: left;
}

.fc-row .fc-highlight-skeleton td, .fc-row .fc-bgevent-skeleton td {
    border-color: transparent;
}
td.fc-day-top{
    width: 100px!important;
}
th.fc-day-header {
    width: 100px!important;
}
td.fc-event-container {
    width: 100px!important;
}
div.fc-content-skeleton table tr td {
    width: 64px!important;
}
div.fc-highlight-skeleton table tr td.fc-highlight{
    background: lightblue!important;
    width: 30px!important;
    height:50px!important;
}

/*/calendar*/

div.input-group{
    display: inline!important;
}
.form-control{
    width: 80px!important;
    heiht: 25px!important;
    
}
.btn-group{
    display: inline!important;
    
}
.btn-sm{
    width:25px!important;
    height:30px!important;
    border-radius:5px;
    padding:5px;
}
.btn-primary{
    background-color:blue!important;
    color:white!important;
}
.btn-danger{
    background-color:red!important;
    color:white!important;
}


p._wc_appointment_availability_rules.wcfm_title.appointment{
    display: none!important;
}
p._wc_appointment_availability_span.wcfm_title.appointment{
     display: none!important;
}
#_wc_appointment_availability_span{
    display: none!important;
}
#_wc_appointment_availability_rules_type_0{
    display: none!important;
}
p._wc_appointment_availability_rules_type_0.wcfm_title.avail_rules_ele.avail_rules_label.appointment{
    display: none!important;
}

div.multi_input_block{
    position:relative!important;
    top:-50px!important;
    left:1px!important;
    padding:0!important;
    margin:0!important;
}  
div.grid-container-for-schedule{
    margin: 0px!important;
    padding: 0px!important
}
#wcfm-main-contentainer #wcfm_products_manage_form div.wcfm-content{
    padding: 0px!important;
}
/*p.regular_price.wcfm_ele.wcfm_half_ele_title.wcfm_title.simple.external.non-subscription.non-variable-subscription.non-auction.non-redq_rental.non-accommodation-booking.non-lottery, input#regular_price{*/
/*    position: relative;*/
/*    left: 608px!important*/
/*}*/
/*calendar*/
/*dashboard*/
.tooltipgig {
  position: relative;
  display: inline-block;

}

.tooltipgig .tooltiptext {

  border: 1px solid #eceef2;
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px solid black;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltipgig:hover .tooltiptext {
  visibility: visible;
}
span.wcfmfa.fa-bell {
    display: none;
}
/*appointments*/
p.schedule {
    background-color: #1c2b36;
    color: white;
    padding: 7px;
}
p.dashboard-title {
    color: black;
    font-size: 15px;
    font-weight: 400;
}
p.dashboard-this-week {
    color: #e85656;
    font-size: 28px;
    font-weight: bold;
}

table.shop_table.my_account_appointments.past_appointments {
    display: none;
}
.woocommerce-pagination.woocommerce-pagination--without-numbers.woocommerce-Pagination {
    display: none;
}
.appointment-item h2 {
    display: none !important;
}

/*appointments*/
.page_collapsible, .wcfm-collapse a.page_collapsible_dummy {
    margin-top: 0px !important;
}
.wcfm_dashboard_wcfm_product_stats, .wcfm_dashboard_wcfm_analytics, .wcfm_dashboard_latest_topics, .wcfm_dashboard_notifications, .wcfm_dashboard_enquiries, .wcfm_dashboard_more_stats, .wcfm_dashboard_wcfm_region_stats {
    margin-top: 0px !important;
}
.appointment-container {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #ECEEF2;
  padding: 10px;
}
.appointment-item {
    background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}
.wcfm_dashboard_wc_reports_sales .wcfm-container {
    padding-top: 0px !important;
}
.last-login .wcfm_welcomebox_user_details {
    margin: 0px 0 0 0 !important;
}
.last-login .wcfm_welcomebox_membership {
    display: none;
}
.last-login .wcfm_welcomebox_user_profile.lft {
    display: none;
}
.welcome .wcfm_welcomebox_last_time {
    display: none;
}
.wcfm_welcomebox_header .rgt {
    float: none !important;
}
.wcfm_welcomebox_header {
    padding:10px !important ; 
}
.wcfm_welcomebox_user_profile {
    border: 5px solid #f5f5f5 !important;
    border-radius: 50%;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
    margin-right: 0px !important;
}
.wcfm_welcomebox_header .rgt h3 {
    display: none;
}
.dashboard-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;

  padding:10px;
 
}
p.this-week {
    font-size: 30px;
    color: red;
}
.dashboard-item {
    background-color: white;
   border-right: 1px solid rgba(138, 138, 138, 0.5);
  padding: 5px;
  text-align: center;
}
/*End of dashboard */
fieldset#policy input {
    opacity: 0;
  position: fixed;
  width: 0;
 
}
#wcfm-main-contentainer .wcfm-checklist-group, #wcfm-main-contentainer .wcfm-radio-group input[type=radio]:checked  {
 
    border: 3px solid black;
}

fieldset label:nth-child(2) {
    color: black !important;
    background-color: #99CC66;
    border: 1px solid black;
}
fieldset label:nth-child(2).active {
    color: black !important;
    background-color: #99CC66;
    border: 2px solid black;
}
fieldset label:nth-child(4) {
    color: black !important;
    background-color: yellow;
    border: 1px solid black;
}
fieldset label:nth-child(6) {
    background-color: red;
    border: 1px solid black;
}

fieldset#policy br {
    display: none;
}
fieldset#policy {
    text-align: center;
    width: 100% !important;
}
p.policy.wcfm_title.field_5dad550724589 {
    display: none;
}
div#wcfm_products_manage_form_cancellation_expander h2 {
    display: none;
}
section#flexible {

}
section#moderate {
    margin-top: -26.5px !important;
    position: relative;
}
section#strict {
    margin-top: -52.5px !important;
    position: relative;
}
input#flexible {
    display: none !important;
}
input#moderate {
    display: none !important;
}
input#strict {
    display: none !important;
}

input{
   display: inline;
}
div#wcfm_products_manage_form_commission_expander {
    display: none;
}
div#wcfm_products_manage_form_commission_head {
    display: none;
}

div#wcfm_products_manage_form_policies_expander {
    display: none;
}
div#wcfm_products_manage_form_advanced_expander {
    display: none;
}
div#wcfm_products_manage_form_policies_head {
    display: none;
}
span.select2.select2-container.select2-container--default.select2-container--focus {
    display: none;
}
.wcfm-container.staffs.appointment {
    display: none;
}
.wcfm-container.wcaddons {
    display: none;
}
p.description.avail_rules_desc {
    display: none !important;
}
p._wc_appointment_requires_confirmation.wcfm_title.checkbox_title.appointment {
    display: none;
}
input#_wc_appointment_requires_confirmation {
    display: none !important;
}
p._wc_appointment_user_can_cancel.wcfm_title.checkbox_title.appointment {
    display: none;
}
input#_wc_appointment_user_can_cancel {
    display: none !important;
}
p._wc_appointment_cancel_limit.wcfm_title.wcfm_appointment_unit_label.wc_appointment_cancel_limit.appointment {
    display: none;
}
input#_wc_appointment_cancel_limit {
    display: none !important;
}
select#_wc_appointment_cancel_limit_unit {
    display: none !important;
}

section.elementor-element.elementor-element-c5533d9.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    display: none;
}
.policy li:nth-child(1){
    background-color: #99CC66;
        color: black;
        border: 1px solid black;
        padding: 0px !important;
        width: 250px;
        text-align: center;
}
.policy li:nth-child(2){
    background-color: #F8CB00;
        color: black;
        border: 1px solid black;
        padding: 0px !important;
        width: 250px;
        text-align: center;
}
.policy li:nth-child(3){
    background-color: red;
        color: black;
        border: 1px solid black;
        padding: 0px !important;
        width: 250px;
        text-align: center;
}
/* Customer timezone */
p._wc_appointment_customer_timezones.wcfm_title.checkbox_title.appointment {
    display: none;
}
input#_wc_appointment_customer_timezones {
    display: none !important;
}
/* Days Restriction */
p._wc_appointment_availability_autoselect.wcfm_title.checkbox_title.appointment {
    display: none;
}

input#_wc_appointment_availability_autoselect {
    display: none !important;
}
p._wc_appointment_has_restricted_days.wcfm_title.checkbox_title.appointment {
    display: none;
}
input#_wc_appointment_has_restricted_days {
    display: none !important;
}
p._wc_appointment_restricted_days.wcfm_title.appointment {
    display: none;
}

/* Custom Pricing rules */
div#wcfm_products_manage_form_costs_expander {
    display: none;
}
div#wcfm_products_manage_form_appointment_costs_head {
    display: none;
}
label.results {
    font-size: 6px;
    padding: 0px !important;
    font-weight: 500;
    text-align: center;
}
/* associate */

input.review-publish {
    font-size: 15px;
}
p.text-result {
    text-align: left;
}
input#listing {
    width: 100%;
    font-size: 15px;
}
.grid-container-preview {
  display: grid;
  grid-template-columns: 25% 75%;
  /*background-color: #2196F3;*/
}
.grid-item-preview {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
div#wp-excerpt-editor-tools {
    display: none;
}
div#wp-description-editor-tools {
    display: none;
}
input#is_virtual {
    display: none !important;
}
.rgt.wcfm_welcomebox_user_right {
    display: none;
}
.item3 input#pro_title {
    visibility: hidden;
}
select#product_type {
    visibility: hidden;
}
p.description.wcfm_title.wcfm_ele.virtual_ele_title.checkbox_title.simple.booking.non-variable-subscription.non-job_package.non-resume_package.non-redq_rental.non-accommodation-booking {
    display: none;
}

div#wcfm_products_manage_form_wcaddons_head {
    display: none;
}

div#wcfm_products_manage_form_staffs_head {
    display: none;
}

div#wcfm_products_manage_form_advanced_head {
    display: none;
}
#wcfm-main-contentainer #wcfm_products_manage_form div.wcfm-content {
    margin: 0 auto;
    padding: 0px;
    padding-right: 0px;
}
/*Schedule & Price */
.grid-container-for-schedule {
  display: grid;
  grid-template-columns:  auto;
  background-color: #D2D5D7;
  padding: 10px;
}
.grid-item-for-schedule {
  
}
/* End of Schedule & Price */

/* listing desctipion */
.wcfm_product_manager_gallery_fields {
    display: none;
}

.wcfm_product_manager_general_fields {
    _float: left;
    flex: 1 auto;
    width: 100% !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 1px;
    background-color: #1c2b36;
    padding: 5px;
}

.grid-container > div {
    background-color: white;

    font-size: 15px;
    padding: 10px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 1;
}
.item3{
grid-row-start: 1;
  grid-row-end: 2;
}
/* End of listing desctipion */


#wcfm-main-contentainer div.wcfm-content {
    background: #fff;
    margin: 0 10px 10px;
    padding: 10px;
    font-size: 18px;
    color: black;
    line-height: 1.5em;
}

img#featured_img_display {
    display: none;
}
img#gallery_img_image_0_display {
    display: none;
}
#gallery_img {
    display: none;
}
#gallery_img .multi_input_block .multi_input_block_manupulate, .wcfm_additional_variation_images .multi_input_block .multi_input_block_manupulate {
    display: none;
}
.grid-container-content{
  display: grid;
  grid-template-columns: auto auto auto auto
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

/** tabs ) */
.tabs {
    display: flex;
    background-color: #1c2b36;
    flex-wrap: wrap;
     display: flex;
}
.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: background ease 0.2s;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: auto;
  display: none;
  padding: 1rem;
  background: #fff;
}

.tabs input[type="radio"] {
  display: none;
}
#wcfm-main-contentainer .wcfm-checklist-group, #wcfm-main-contentainer .wcfm-radio-group input[type="radio"] {
    display: inline !important;
}

.tabs input[type="radio"]:checked + label {
  background: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  /*.tabs .tab,*/
  /*.tabs label {*/
  /*  order: initial;*/
  /*}*/

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
.tab {
    background-color: #f1f1f1c4 !important;
}
select#product_type option[value="simple"]{
    display: none !important;
}
select#product_type option[value="grouped"]{
    display: none !important;
}
select#product_type option[value="variable"]{
    display: none !important;
}
select#product_type option[value="external"]{
    display: none !important;
}
select#product_type option[value="appointable"]{
    
}
p.description.wcfm_title.wcfm_ele.virtual_ele_title.checkbox_title.simple.booking.non-variable-subscription.non-job_package.non-resume_package.non-redq_rental.non-accommodation-booking { visibility: hidden; }

/*Desktop*/

/*@media (min-width: 1200px){*/
/*.container {*/
/*    width: auto !important;*/
      
/*}}*/

ul.product_taxonomy_checklist {
    display: block;
    list-style-type: none;
    min-height: 42px;
    max-height: 200px;
    overflow: auto;
    padding: 0.5em !important;
    margin-left: 0px;
    text-align: left;
    font-size: 14.5px;
    border-top: 1px solid #ddd;
    background-color: #fdfdfd;
    margin-bottom: 0px;
}
.wcfm_product_manager_gallery_fields {
     width: auto !important;
    flex: 5 auto;
}




/*Jaspher Mobile query*/

/* Extra small devices (phones, 600px and down) */



/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 420px) and (min-width: 393px) {
  .tabs label {
    font-size: 8.5px !important;
}
     .wrapper {
    width: 77%  !important;
    display: block  !important;
  height: 175px !important;
}

.three {
    margin-top: -58px !important;
}
.four.gridcell {
    margin-top: 22px;
	
}

.five.gridcell {
    margin-top: -24px;
}
.seven.gridcell {
    margin-top: 10px !important;
}

.two.gridcell {
    margin-left: 0px !important;
}
.wrapper {
    height: 185px !important;
}
#wcfm-main-contentainer .tabs label {
    width: 25%;

    margin: 0px;
    padding: 10px 0px 10px 0px;
}}

@media only screen and (max-width: 393px) and (min-width: 375px) {
  .tabs label {
    font-size: 8.5px !important;
}
     .wrapper {
    width: 77%  !important;
    display: block  !important;
  height: 175px !important;
}

.three {
    margin-top: -58px !important;
}
.four.gridcell {
    margin-top: 22px;
	
}

.five.gridcell {
    margin-top: -24px;
}
.seven.gridcell {
    margin-top: 10px !important;
}

.two.gridcell {
    margin-left: 0px !important;
}
.wrapper {
    height: 185px !important;
}
#wcfm-main-contentainer .tabs label {
    width: 25%;

    margin: 0px;
    padding: 10px 0px 10px 0px;
}
}
@media only screen and (max-width: 375px) and (min-width: 360px) {

  .tabs label {
    font-size: 8.5px !important;
}
     .wrapper {
    width: 77%  !important;
    display: block  !important;
  height: 175px !important;
}

.three {
    margin-top: -58px !important;
}
.four.gridcell {
    margin-top: 22px;
	
}

.five.gridcell {
    margin-top: -24px;
}
.seven.gridcell {
    margin-top: 10px !important;
}

.two.gridcell {
    margin-left: 0px !important;
}
.wrapper {
    height: 185px !important;
}
#wcfm-main-contentainer .tabs label {
    width: 25%;

    margin: 0px;
    padding: 10px 0px 10px 0px;
}
}
@media only screen and (max-width: 360px) and (min-width: 320px) {
  
.tabs label {
    font-size: 8px !important;
}
     .wrapper {
    width: 77%  !important;
    display: block  !important;
  height: 175px !important;
}

.three {
    margin-top: -58px !important;
}
.four.gridcell {
    margin-top: 22px;
	
}

.five.gridcell {
    margin-top: -24px;
}
.seven.gridcell {
    margin-top: 10px !important;
}

.two.gridcell {
    margin-left: 0px !important;
}
.wrapper {
    height: 185px !important;
}
#wcfm-main-contentainer .tabs label {
    width: 25%;

    margin: 0px;
    padding: 10px 0px 10px 0px;
}
}
@media only screen and (max-width: 320px) and (min-width: 100px) {
.tabs label {
    font-size: 8px !important;
}
     .wrapper {
    width: 77%  !important;
    display: block  !important;
  height: 175px !important;
}

.three {
    margin-top: -58px !important;
}
.four.gridcell {
    margin-top: 22px;
	
}

.five.gridcell {
    margin-top: -24px;
}
.seven.gridcell {
    margin-top: 10px !important;
}

.two.gridcell {
    margin-left: 0px !important;
}
.wrapper {
    height: 185px !important;
}
#wcfm-main-contentainer .tabs label {
    width: 25%;

    margin: 0px;
    padding: 10px 0px 10px 0px;
}


}

@media only screen and (max-width: 1080px) and (min-width: 420px) {
 
#m-nav{
    display:block !important;
}
a.burger {
    display: none !important;
}
.wrapper {
    width: 40% !important;

}
} 

@media only screen and (max-width: 1280px) and (min-width:1080px) {
 .wcfm-page-headig {
    background-color: black !important;
}
#m-nav{
    display:block !important;
}
a.burger {
    display: none !important;
}
.wrapper {
    width: 40% !important;

}
} 
@media only screen and (max-width: 1366px) and (min-width: 1280px) {

#m-nav{
    display:block !important;
}
a.burger {
    display: none !important;
}#m-nav{
    display:block !important;
}
a.burger {
    display: none !important;
}
.wrapper {
    width: 40% !important;

}
} 
@media only screen and (max-width: 1440px) and (min-width: 1366x) {

#m-nav{
    display:block !important;
}
a.burger {
    display: none !important;
}
.wrapper {
    width: 40% !important;

}
} 
@media only screen and (max-width: 1920px) and (min-width: 1440px) {

  #m-nav{
    display:block !important;
}
a.burger {
    display: none !important;
}
   
   .wrapper {
    width: 40% !important;

}
}

/* PJ CSS*/
.last-login {
    display: none;
}
.wcfm_dashboard_wc_reports_sales, #wcfm_dashboard_wcfm_region_stats_expander,.wcfm_dashboard_wc_reports_sales .wcfm-container {
    padding: 0 !important; 
}

.appointment-item {
    margin: 10px;
    border: 0;
}

p.schedule {
    background-color: #1c2b36;
    color: white;
    padding: 7px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.appointment-item {
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.wcfm-collapse .wcfm-container, .wcfm-tabWrap{
    webkit-box-shadow: 0 !important;
    box-shadow: unset !important;
}

div#wcfm_dashboard_notifications {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.wcfm_dashboard_notifications{
    height: 100% !important;
}

/* PJ CSS END*/

/*schedule css pj*/
td.home-appointment-date {
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
}
span.home-date-of-month {
    font-size: 22px;
    font-weight: 500;
}
td.home-appointment-details {
    vertical-align: middle;
}
span.home-listing-pro-name a,span.home-customer-name {
    font-weight: 500;
    color: black;
    text-transform: capitalize;
    
}

td.home-appointment-date {
    width: 10%;
}
td.home-appointment-details {
    width: 45%;
}
td.home-appointment-status {
    width: 10%;
}
td.home-appointment-actions {
    width: 35%;
    text-align: center;
}
span.home-appointment-countdown {
    font-size: 13px;
    font-weight: 500;
}
span.home-customer-note {
    font-size: 13px;
}
table.shop_table.my_account_appointments.today_appointments {
    border-collapse: collapse !important;
    margin:0 !important;
    
}
tr.last-row {
    border-bottom: 1px solid lightgrey;
}
.appointment-item {
    
    height: 354px;
}
.appointment-item:nth-child(2) {
    
    height: 392px;
}
.appointment-schedule-table {
    overflow-y: scroll;
    height:100%;
}

/*schedule css pj end*/

/*transactions pagination*/
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/*transactions pagination end*/

/*CSS Dashboard*/
.dashboard-item {
    font-family: montserrat!Important;
    align-self:center;
}

p.schedule {
    font-family: montserrat!Important;
}

span.dashboard_widget_head {
    font-family: montserrat!Important;
    font-size: 16px!Important;
}

.appointment-schedule-table {
    font-family: montserrat!important;
}

div#wcfm_dashboard_notifications_expander {
    font-family: montserrat!Important;
    height:100%;
}

p.dashboard-title span.amount{
    line-height:unset !important;
}

/**/
@media only screen and (max-width: 1366px) and (min-width: 1080px) {
.elementor-160 .elementor-element.elementor-element-b805e3b {
    width: 22%!important;
}
}

/**/
.pending-status {
    margin-left: 3px!Important;
}
/**/
.elementor-85577 .elementor-element.elementor-element-246b3e4 .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    text-decoration: none;
}

/**/
td.table-header-cell {
    background-color: #17A2B8!important;
    color: white!Important;
     font-family: montserrat!Important;
    text-transform: uppercase;
    font-size: 13px!Important;
    font-weight: 700;
}/* End custom CSS */