  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext-completed {
   opacity: 0.1;
  
  padding: 10px;
  font-size: 12px;
  text-align: left;
  top:-60px;
  right: 5%;
  margin-right:220px !Important;
    
  visibility: hidden;
  width: 170px;
  background-color: #242424;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.tooltip .tooltiptext-pending {
   opacity: 0.1;
  
  padding: 10px;
  font-size: 12px;
  text-align: left;
  top:-60px;
  right:800%;
  margin-left:40px !Important;
  
  visibility: hidden;
  width: 170px;
  background-color: #242424;
  color: #fff;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext-confirm {
        opacity: 0.1;
  
  padding: 10px;
  font-size: 12px;
  text-align: left;
  top:-60px;
  right: 120%;
  margin-right:220px !Important; 
  
  visibility: hidden;
  width: 170px;
  background-color: #242424;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.tooltip  .tooltiptext-appointment-day{
      opacity: 0.1;
  
  padding: 10px;
  font-size: 12px;
  text-align: left;
  top:-60px;
right: 80px;
  margin-right:100px !Important;
  
    visibility: hidden;
  width: 170px;
  background-color: #242424;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext-completed {
         opacity: 1;
         transition: 0.3s;
  visibility: visible;
}

.tooltip:hover .tooltiptext-pending {
      opacity: 1;
      transition: 0.3s;
  visibility: visible;
}

.tooltip:hover .tooltiptext-confirm {
      opacity: 1;
      transition: 0.3s;
  visibility: visible;
}
.tooltip:hover .tooltiptext-appointment-day {
      opacity: 1;
      transition: 0.3s;
  visibility: visible;
}

 .inner-info{
        padding: 10px;
    }


/*Media Query*/


/* (1920x1080) Full HD Display */
@media(max-width: 1920px) and (min-width: 1367px){
.elementor-element.elementor-element-50f4343.elementor-column.elementor-col-100.elementor-top-column {
    /* background-color: red; */
    /* width: 50%; */
    width: 66%;
    padding: 0 30px 30px 30px;
    margin-left: 8.5%;
    
    
}

.grid-item2 {
    
    
}

.grid-item1 {
   
    margin-left: 89px !important;
}

.tooltip .tooltiptext-completed {
    
  margin-right:220px !Important;
  width: 200px;
  
}
.tooltip .tooltiptext-pending {
    right:180px !Important;
    margin-left:250px !Important;
  width: 200px;
}

.tooltip .tooltiptext-confirm{
      margin-right:225px !Important;
  width: 200px;
}
.tooltip  .tooltiptext-appointment-day{
     right:90px !Important;
       margin-left:px !Important;
  width: 200px;
}

}

/* (1366x768) */
@media(max-width: 1366px) and (min-width: 1281px){
.elementor-element.elementor-element-851d4b8.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    width: 78%;
    padding: 0px 109px 90px 90px;
    margin-left: 12%;
}

.grid-item1 {
    width: 96%;
    margin-left: 25px;
}

.grid-item2 {
    width: 95%;
}

.tooltip .tooltiptext-completed {

  margin-right:225px !Important;
  width: 200px;
}
.tooltip .tooltiptext-pending {
    margin-left:0px !Important;
  width: 182px;
}
.tooltip .tooltiptext-confirm{
      margin-right:222px !Important;
  width: 200px;
}

.tooltip  .tooltiptext-appointment-day{
       margin-left:12px !Important;
  width: 182px;
}

}


/*Mobile*/
/*414*/
@media(max-width: 414px) and (min-width:413px){
    .elementor-element.elementor-element-851d4b8.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 52px 0px 45px !important;
}
img.attachment-large.size-large {
    display: none !important;
}
}

/*412*/
@media(max-width: 412px) and (min-width:394px){
    .elementor-element.elementor-element-851d4b8.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 52px 0px 45px !important;
}
img.attachment-large.size-large {
    display: none !important;
}
    

}
/*393*/
@media(max-width: 393px) and (min-width:376px){
.elementor-element.elementor-element-851d4b8.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 52px 0px 45px !important;
}
img.attachment-large.size-large {
    display: none !important;
}
}
/*375*/
@media(max-width: 375px) and (min-width:361px){
.elementor-element.elementor-element-851d4b8.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 52px 0px 45px !important;
}
img.attachment-large.size-large {
    display: none !important;
}
}
/*360*/

@media(max-width: 360px) and (min-width:321px){
.elementor-element.elementor-element-851d4b8.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 52px 0px 45px !important;
}
img.attachment-large.size-large {
    display: none !important;
}
}
/*393*/
@media(max-width: 320px) and (min-width:300px){
.elementor-element.elementor-element-851d4b8.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 52px 0px 45px !important;
}
img.attachment-large.size-large {
    display: none !important;
}
}


img.attachment-medium.size-medium {
    width: 70%;
    margin-left: 19px;
}

.elementor-77190 .elementor-element.elementor-element-aeb9a7f .elementor-icon i, .elementor-77190 .elementor-element.elementor-element-aeb9a7f .elementor-icon svg {
    transform: rotate(0deg);
    width: 32px;
}

.elementor-77214 .elementor-element.elementor-element-a53dd0c .elementor-icon i, .elementor-77214 .elementor-element.elementor-element-a53dd0c .elementor-icon svg {
    transform: rotate(0deg);
    width: 32px;
}

.elementor-77314 .elementor-element.elementor-element-fa7aa7f .elementor-icon i, .elementor-77314 .elementor-element.elementor-element-fa7aa7f .elementor-icon svg {
    transform: rotate(0deg);
    width: 32px;
}

.elementor-77342 .elementor-element.elementor-element-51c95ed .elementor-icon i, .elementor-77342 .elementor-element.elementor-element-51c95ed .elementor-icon svg {
    transform: rotate(0deg);
    width: 32px;
}

.elementor-text-editor.elementor-clearfix {
    font-size: 15px;
}

p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    text-align: center;
}

/*Cart Container*/

.wc-appointment-summary {
    background-color: #eee;
    background-color: #99cc66;
    padding: 1em;
    color: white;
}


.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    background-color: #99cc66;
    padding: 10px 10px 0px 10px !important;
    
    color: white;
    font-size: 15px;
}

/*Question Makrs*/
#q1 {
    margin-left: -56px;
    font-size: 24px !important;
}

#q2 {
    margin-left: -8px;
    font-size: 24px !important;
}

#q3 {
    margin-left: -50px;
    font-size: 24px !important;
}

#q4 {
    margin-left: -23px;
    font-size: 24px !important;
}



h2.elementor-heading-title.elementor-size-default {
    padding-bottom: 28px;
    padding-top: 10px;
}/* End custom CSS */