.elementor-13181 .elementor-element.elementor-element-58cb851 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:5px;}.elementor-13181 .elementor-element.elementor-element-c8524fb{color:#000000;font-family:"Montserrat", montserrat;font-size:14.875px;font-weight:bold;}.elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-type-html{padding-bottom:0px;}.elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-group .elementor-field{color:#778080;}.elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-group .elementor-field, .elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-subgroup label{font-family:"Montserrat", montserrat;font-size:14.875px;}.elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-color:#cccccc;}.elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-color:#cccccc;}.elementor-13181 .elementor-element.elementor-element-71c4c62 .elementor-field-group .elementor-select-wrapper::before{color:#cccccc;}.elementor-13181 .elementor-element.elementor-element-71c4c62 > .elementor-widget-container{padding:0px 10px 0px 0px;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-group.recaptcha_v3-bottomleft, .elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-group > label, .elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-subgroup label{color:#000000;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-group > label{font-family:"Montserrat", montserrat;font-size:14.875px;font-weight:bold;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-type-html{padding-bottom:0px;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-group .elementor-field{color:#778080;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-group .elementor-field, .elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-subgroup label{font-family:"Montserrat", montserrat;font-size:14.875px;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-13181 .elementor-element.elementor-element-9ea5c8e .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-13181 .elementor-element.elementor-element-9aac4a1{color:#000000;font-family:"Montserrat", montserrat;font-size:14.875px;font-weight:bold;}/* Start custom CSS for page-settings */.category img{
    display: none !important;
}
button.elementor-button.elementor-size-sm {
    display: none;
}.price_slider{ 
    margin-bottom: 1em;
}

.price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}

.price_slider_amount .button {
    font-size:1.15em;
}

.price_slider_amount .button {
    float: left;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 0.9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: #e7e7e7;
    background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#e7e7e7));
    background: -webkit-linear-gradient(#FEFEFE,#e7e7e7);
    background: -moz-linear-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    background: -moz-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    outline: none;
    top: -.3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}

.ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size:.7em;
    display: block;
    border: 0;
    background: none repeat scroll 0 0 #FF6B6B;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #1e1e1e;
    background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#6a6a6a));
    background: -webkit-linear-gradient(#1e1e1e,#6a6a6a);
    background: -moz-linear-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
    background: -moz-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
}

.ui-slider-horizontal {
    height:.5em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}
/*STAR*/

.supsystic-filter-loader.spinner {
    background: url("http://localhost/gigant-live/wp-content/uploads/2019/10/spinner.gif") !important;
} 
.ratings span.wpfDisplay {
    display: none;
}
.ratings li:nth-child(1) span:after{
    content: " \f005\f005\f005\f005\f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings li:nth-child(2) span:after{
    content: " \f005\f005\f005\f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings li:nth-child(3) span:after{
    content: " \f005\f005\f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings li:nth-child(4) span:after{
    content: " \f005\f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings li:nth-child(5) span:after{
    content: " \f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings .wpfValue{
    font-size: 0px;
}/* End custom CSS */