.elementor-363 .elementor-element.elementor-element-06039c4{padding:20px 20px 0px 020px;}.elementor-363 .elementor-element.elementor-element-0275753 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-363 .elementor-element.elementor-element-0275753 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 20px 0px 0px;}.elementor-363 .elementor-element.elementor-element-0d5770b > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-363 .elementor-element.elementor-element-569eddb{text-align:left;}.elementor-363 .elementor-element.elementor-element-569eddb .elementor-heading-title{color:#000000;font-family:"Montserrat", montserrat;font-size:23px;}.elementor-363 .elementor-element.elementor-element-569eddb > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-363 .elementor-element.elementor-element-4860e13 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:10px;}.elementor-363 .elementor-element.elementor-element-ec2ec29{padding:10px 0px 0px 0px;}.elementor-363 .elementor-element.elementor-element-f65e3b5 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-363 .elementor-element.elementor-element-601e7ee{color:#000000;font-family:"Montserrat", montserrat;font-size:16px;font-weight:bold;}.elementor-363 .elementor-element.elementor-element-325b583{text-align:left;font-family:"Montserrat", montserrat;}.elementor-363 .elementor-element.elementor-element-7f0fd80{color:#000000;font-family:"Montserrat", montserrat;font-size:16px;font-weight:bold;}.woocommerce .elementor-363 .elementor-element.elementor-element-2253d47 .woocommerce-product-details__short-description{font-family:"Montserrat", montserrat;}.elementor-363 .elementor-element.elementor-element-2253d47 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-363 .elementor-element.elementor-element-32e70d3 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-363 .elementor-element.elementor-element-32e70d3 > .elementor-element-populated{padding:0px 0px 20px 0px;}.elementor-363 .elementor-element.elementor-element-fef0b8f{border-style:solid;border-width:1px 1px 1px 1px;border-color:#C3B9B9;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:20px 20px 20px 20px;}.elementor-363 .elementor-element.elementor-element-fef0b8f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-363 .elementor-element.elementor-element-84bfca0{font-size:15px;}.elementor-363 .elementor-element.elementor-element-8bceda5 > .elementor-element-populated{padding:0px 0px 0px 10px;}.elementor-363 .elementor-element.elementor-element-109bafd .elementor-icon-list-icon i{font-size:14px;}.elementor-363 .elementor-element.elementor-element-109bafd .elementor-icon-list-icon svg{width:14px;}.elementor-363 .elementor-element.elementor-element-109bafd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-363 .elementor-element.elementor-element-36c10a2 > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-363 .elementor-element.elementor-element-ace4789 > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-363 .elementor-element.elementor-element-570005a > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-363 .elementor-element.elementor-element-88f9c46 > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-363 .elementor-element.elementor-element-6d63581 > .elementor-widget-container{padding:10px 0px 0px 0px;}.elementor-363 .elementor-element.elementor-element-0864d01 > .elementor-widget-container{padding:20px 20px 20px 20px;background-color:rgba(255,255,255,0.38);border-style:solid;border-width:1px 1px 1px 1px;border-color:#efefef;}.elementor-363 .elementor-element.elementor-element-751def4{padding:20px 20px 0px 20px;}.elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}.elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products ul.products li.product{text-align:left;}.elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products ul.products li.product .woocommerce-loop-product__title{color:#000000;}.elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products ul.products li.product .woocommerce-loop-category__title{color:#000000;}.elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products ul.products li.product .woocommerce-loop-product__title, .elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products ul.products li.product .woocommerce-loop-category__title{font-family:"Arial", montserrat;}.woocommerce .elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products .products > h2{color:#000000;}.elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products ul.products li.product span.onsale{display:block;}.elementor-363 .elementor-element.elementor-element-09509cf > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}@media(min-width:768px){.elementor-363 .elementor-element.elementor-element-0275753{width:71.17%;}.elementor-363 .elementor-element.elementor-element-32e70d3{width:28.83%;}.elementor-363 .elementor-element.elementor-element-8a59f3d{width:42.152%;}.elementor-363 .elementor-element.elementor-element-8bceda5{width:38.095%;}.elementor-363 .elementor-element.elementor-element-00be857{width:17.863%;}}@media(max-width:767px){.elementor-363 .elementor-element.elementor-element-bfa0759 > .elementor-element-populated{padding:0% 0% 5% 0%;}.elementor-363 .elementor-element.elementor-element-09509cf.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}/* Start custom CSS for page-settings */.wcfm_buttons {
    display: none!important;
}
.avatar-info {
    display: flex;
}
.wcfmmp_sold_by_container_advanced {
    margin-bottom: 0px !important;
}
.single-product div.product .product_meta {

     padding-top: 0em !important; 
     border-top: 0px solid rgba(0, 0, 0, 0.05) !important; 
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0px !important;
}
.overall {
    display: flex;
}
a.wcfm_dashboard_item_title {
    font-size: 15px !important;
}
.star-containerr {
    display: flex;
}
.grid-container-stars {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
}
.grid-item-stars {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
}
.product .star-rating span:before,
.product .star-rating:before {
    color: gold;
}
.ratings-content {
    display: flex;
    height: 23px;
}
.star-rating{
    font-size:16px;
}
#respond {
    padding: 0px !important;
}
p.form-submit {
    float: right;
}
ol, ul {
padding-left: 0px !important;
}
/*.description {*/
/*    text-align: left;*/
/*    color: black;*/
/*    padding-left: 69px;*/
/*}*/
img.avatar.avatar-50.photo {
    border-radius: 50px;
}
i.fa.fa-star {
    padding-left: 5px;
    color: gold;
}
/*time {*/
/*    padding-left: 68px;*/
/*}*/
#reviews .commentlist li time {
    opacity: 0.5;
    font-size: 1.05em;
    color: black;
}
.avatar-info {
    padding-left: 15px !important;
}

.review-column {
    display: inline;
}
*+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul {
     margin-top: 0px !important; 
}
#reviews .commentlist li .avatar {
    width: 4.090909% !important;
    float: left;
    margin-right: 0.090909% !important;
    height: auto;
}

#reviews .commentlist li .comment_container .comment-text {
    width: 92.818182% !important;
    float: right;
    margin-right: 0;
}
img.avatar.avatar-60.photo {
    border-radius: 50px;
}
li#tab-title-wcfm_policies_tab {
    display: none;
}
img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    display: none !important;
}
.woocommerce-review__awaiting-approval{
  display: none;  
}
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .widget-area .widget a.button.alt {
    background-color: #003399 !important;
    
}
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .widget-area .widget a.button.alt:hover {
    background-color: #003399 !important;
}
.wc-appointments-date-picker .ui-datepicker td.ui-datepicker-current-day a, .wc-appointments-date-picker .ui-datepicker td.ui-datepicker-current-day a:hover {
    background-color: #99cc67 !important;
}
.wc-appointments-appointment-form-wrap .wc-appointments-appointment-form .slot-picker li.slot.selected a, .wc-appointments-appointment-form-wrap .wc-appointments-appointment-form .slot-picker li.slot.selected:hover a {
    background-color: #99cc67 !important;
}
    .woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: #99CC67 !important;
}
a.woocommerce-product-gallery__trigger {
    display: none !important;
}
.wcfmmp_sold_by_container_advanced .wcfmmp_sold_by_label {
    text-transform: none !important;
}
img.wp-post-image {
    height: 400px;
    width: 100%;
}

/*slideshow*/
.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 101px !important;
    margin-right: 0px !important;
}
.product-type-appointment form.cart {
  display:block!important;
}
h2.woocommerce-loop-product__title {
    white-space: nowrap;
    width: 224px;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.button.product_type_appointment.add_to_cart_button {
    display: none;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    display: none;
}
a.button.product_type_simple {
    display: none;
}
h2.woocommerce-loop-product__title {
    padding: 10px 10px 0px 10px;
}
span.woocommerce-Price-amount.amount {
    padding-left: 10px;
}
.wcfmmp_sold_by_container {
    padding-left: 10px;
}
.elementor-widget-woocommerce-products.elementor-wc-products ul.products li.product .price del .amount {
    color: #ff0000;
}
span.detail-label {
    display: none;
}
span.detail-content {
    display: none;
}
.wcfm_buttons {
    z-index: 1 !important;
}
.wcfmmp_sold_by_label{
    font-family: montserrat, Sans-Serif !important;
    font-size: 10px !important;
    font-weight: bold;
    color: #003399;
}
.wcfm_dashboard_item_title{
    font-family: montserrat, Sans-Serif !important;
    font-size: 17px !important;
    color: #99cc66!important;
    font-weight: bold;
    text-align: center
    
}
.wcfmmp_sold_by_wrapper a {
    display: inline-block!important;
    text-decoration: none!important;
}
.wcfmmp_sold_by_wrapper img.wcfmmp_sold_by_logo {
    width: 25px!important;
    display: inline-block!important;
    margin: 0!important;
    padding: 0!important;
    vertical-align: bottom;
    border-radius: 100px;
    
}



/*TABS*/
li#tab-title-description {
    display: none!Important;
}
div#tab-description {
    display: none!important;
}
.wc-appointments-appointment-cost dl>dt:before {
    Content: "Consult ";
}

/*products*/
button.button-arrow:hover {
    background-color: transparent;
}
/*jaspher*/

.buttonreadmore {
  background: green;
  border-radius: 5px;
  padding: 5px;
  color: white;
  text-align: center;
}
.profilelisting{
    display: none;
}
/*code from functions.php*/
.book-now-listing {
    padding-right: 6px;
    padding-top: 6px;
}
.supsystic-filter-loader.spinner {
    background: url("http://localhost/gigant-live/wp-content/uploads/2019/10/spinner.gif") !important;
} 
.ratings span.wpfDisplay {
    display: none;
}
.ratings li:nth-child(1) span:after{
    content: " \f005\f005\f005\f005\f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings li:nth-child(2) span:after{
    content: " \f005\f005\f005\f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings li:nth-child(3) span:after{
    content: " \f005\f005\f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings li:nth-child(4) span:after{
    content: " \f005\f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings li:nth-child(5) span:after{
    content: " \f005";
    color:#F8C800;
    font-family: FontAwesome;
    font-size: 18px;
 
}
.ratings .wpfValue{
    font-size: 0px;
}

a.woocommerce-review-link {
    color: #cecece !important;
    font-size: 16px;
    display: none;
}

a.woocommerce-review-link:before {
    content: "\f005 ";
    font-family: FontAwesome;
    color:#F8C800;
    font-size: 10px;
}
.bio {
    max-width: 300px;
    height: 55px;
    overflow: hidden;
}
p.professional-name {
    color: black;
    font-size: 12px;
    font-family: montserrat;
}
p.read-more {
    font-size: 0px;
    text-align: center;
}
p.read-more:after {
    font-size: 25px;
    content: "\f107";
    color: black;
    cursor: pointer;
    font-family: FontAwesome;
    
}
.inner-grid-container {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    padding: 0;
}
.inner-grid-item {
  padding: 10px;
  color: black;
  text-align: center;
}
.description {
    text-align: left;
    color: black;
}
.grid-item-vendor a {
    font-size: 22px;
    font-weight: bold;
    color: black !important;
}
.star-alignment {
  display: inline; 
}
f.booknow {
    color: white !important;
}
a.read-more {
    color: white !important;
    background-color: #003399;
    padding: 9px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}
.grid-item.item1 {
  grid-row: 1 / span 2;
}

p.pro-label {
    text-align: left;
    color: black
}
.short-des {
    text-align: left;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 55% 20%;
}
span.price {
    display: none !important;
}
.grid-item {
    padding: 0px 0px 0px 10px;
    text-align: center;
    font-size: 12px;
    font-family: montserrat;
}
.grid-item-title {
    font-size: 14px;
    text-align: left;
    color: black;
    text-decoration: underline;
    font-weight: 600;
    display: flex;
}
h2.woocommerce-loop-product__title {
    display: none;
}


img.wcfmmp_sold_by_logos {
    height: 120px;
    width: 100%;
}
a.button.product_type_appointment.add_to_cart_button {
    display: none;
}
.button.product_type_appointment.add_to_cart_button {
    font-size: 10px;
}
.grid-container {
    cursor: auto;
}


img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    display: none !important;
}
.wcfm_buttons {
    z-index: 1 !important;
}
.wcfmmp_sold_by_label{
    font-family: montserrat, Sans-Serif !important;
    font-size: 10px !important;
    font-weight: bold;
    color: #003399;
}

.wcfmmp_sold_by_wrapper img.wcfmmp_sold_by_logo {
    width: 25px!important;
    display: inline-block!important;
    margin: 0!important;
    padding: 0!important;
    vertical-align: bottom;
    border-radius: 100px;
    
}



.category img{
    display: none !important;
}

.price_slider{ 
    margin-bottom: 1em;
}

.price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}

.price_slider_amount .button {
    font-size:1.15em;
}

.price_slider_amount .button {
    float: left;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 0.9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: #e7e7e7;
    background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#e7e7e7));
    background: -webkit-linear-gradient(#FEFEFE,#e7e7e7);
    background: -moz-linear-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    background: -moz-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    outline: none;
    top: -.3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}

.ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size:.7em;
    display: block;
    border: 0;
    background: none repeat scroll 0 0 #FF6B6B;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #1e1e1e;
    background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#6a6a6a));
    background: -webkit-linear-gradient(#1e1e1e,#6a6a6a);
    background: -moz-linear-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
    background: -moz-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
}

.ui-slider-horizontal {
    height:.5em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}
.elementor-721 .elementor-element.elementor-element-f402ec2.elementor-wc-products ul.products li.product .woocommerce-loop-product__title {
    color: #02359a;
    margin-bottom: 0px;
    /* height: 61px; */
    font-size: 20px;
}
a.wcfm_dashboard_item_title {
    color: black!important;
}
span.wcfmmp_sold_by_label {
    display: none;
}

.wcfmmp_sold_by_wrapper img.wcfmmp_sold_by_logo {
    width: 60px!important;
    display: inline-block!important;
    margin: 0px!important;
    padding: 0px!important;
    vertical-align: bottom;
}
.elementor-721 .elementor-element.elementor-element-f402ec2.elementor-wc-products ul.products li.product .price del .amount {
    color: #ef3232;
    display: none!important;
}
span.woocommerce-Price-amount.amount {
    font-size: 9px!important;
    color: black!important;
    font-weight: 600;
}
small.duration {
    font-size: 15px!important;
    color: black!important;
    font-weight: 600;
}
ul.products li.product img, ul.products .wc-block-grid__product img, .wc-block-grid__products li.product img, .wc-block-grid__products .wc-block-grid__product img {
    display: block;
    margin: 0 auto 1.618em;
    /* display: none!important; */

}
/*span.woocommerce-Price-amount.amount:before {*/
/*    content: "Cost: ";*/
/*    color: black;*/
/*    font-weight: 600;*/
/*}*/

/*jaspher*/

/*Star number bold*/

a.woocommerce-review-link {
    font-weight: bold;
    color:#000000 !important;

}

p.professional-name {
    font-weight: bold;
    
}


h2 {
    line-height: 24.7px !important;
}


/*jaspher*/

/*raniel*/
.collapsible{
background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

img.wcfmmp_sold_by_logos {
    border-radius: 50% !important;
}

a.read-more {

    background-color: #43CF62 !important;
 
}


.elementor-721 .elementor-element.elementor-element-f402ec2.elementor-wc-products ul.products li.product {
    border-radius: 10px !important;
 
}


/*span.woocommerce-Price-amount.amount {*/
/*    font-size: 13px !important;*/
/*    padding-left: 1px !important;*/
/*    width: 118px !important;*/
/*    margin-left: -40px !important;*/
/*}*/


.short-des {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

p.professional-name {
    font-size: 14px;
}

i.fas.fa-angle-down {
    color: black !important;
}

i.fas.fa-angle-up{
    color: black !important;
}

/*Style START*/

img.wcfmmp_sold_by_logos {
    margin-top: 2px!Important;
    border: 2px solid white;
     height: 95px;
     width: 80%;
}

.wcfmmp_sold_by_container {
    padding-left: 0px!important; 
}

.grid-item.item1 {
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 0px;
}

.grid-item-vendor1 {
    background-color: #F2F2F2;
    border-radius: 0px 0px 0px 10px;
}

.grid-item {
    padding: 0px 5px 0px 10px;
    text-align: center;
    font-size: 12px;
    font-family: montserrat;
}

.wcfm_vendor_badge.text_tip {
    display: none!important;
}
/*Style END*/

/*span.woocommerce-Price-amount.amount:before {*/
/*    content: "Cost:";*/
/*    color: black;*/
/*    font-weight: 600;*/
/*    display: block;*/
/*}*/
/*span.woocommerce-Price-amount.amount {*/
/*    margin-top: -10px !important;*/
/*}*/


.grid-container {
    border: 1px solid #cecece !important;
    border-radius: 8px !important;
}
.elementor-721 .elementor-element.elementor-element-f402ec2.elementor-wc-products ul.products li.product {
  
    border: none !important;
}

/*1280*/
@media(max-width: 1280px) and (min-width: 1141px){
    
 .wcfmmp_sold_by_wrapper a {
 
    font-size: 11px;
    width: 75px;
    margin-left:-5px;
    
}
/*span.woocommerce-Price-amount.amount {*/
/*    padding-left: 12px !important;*/
/*}*/
/*span.woocommerce-Price-amount.amount {*/
/*    margin-top: -44px !important;*/
/*    font-size: 16px !important;*/
/*    font-weight: bold;*/
/*    margin-left: -31px !important;*/
/*}*/

}
 i.fas.fa-angle-down {
    color: black !important;
    font-size: 30px;
}

i.fas.fa-angle-up{
    color: black !important;
    font-size: 28px;
}

/*span.woocommerce-Price-amount.amount {*/
/*    margin-top: -44px !important;*/
/*    font-size: 16px !important;*/
/*    font-weight: bold;*/
/*}*/


 /*1366*/
@media(width: 1366px){
    
/*span.woocommerce-Price-amount.amount {*/
/*    margin-top: -31px !important;*/
/*    font-size: 17px !important;*/
/*    font-weight: bold;*/
/*    margin-left: -22px !important;*/
/*}*/

}

 /*1920*/
@media(width: 1920px){
/*span.woocommerce-Price-amount.amount {*/
/*    margin-top: -41px !important;*/
/*    font-size: 16px !important;*/
/*    font-weight: bold;*/
/*    margin-left: 0px !important;*/
/*}*/

}

/*Mobile Responsive CSS*/


/*320*/
@media(max-width: 320px) and (min-width:300px){
    
    .grid-container {
        margin-left: -5px!important;
        width: 93%!important;
        margin-bottom: -25px!Important;
    }
    
    .book-now-listing {
        margin-left: -16px!Important;
    }
    
    img.wcfmmp_sold_by_logos {
        width: 100%!important;
        height: 70px!important;
    }
}

/*360*/

@media(max-width: 360px) and (min-width:321px){
    .grid-container {
        margin-bottom: -25px!Important;
    }
    
    img.wcfmmp_sold_by_logos {
        width: 100%!important;
        height: 70px!important;
    }
}

/*375*/
@media(max-width: 375px) and (min-width:361px){
    .grid-container {
        width: 104%!Important;
        margin-bottom: -25px!Important;
    }
    
    img.wcfmmp_sold_by_logos {
        width: 100%!important;
        height: 70px!important;
    }
}

/*393*/
@media(max-width: 393px) and (min-width:376px){
    .grid-container {
        width: 108%!Important;
        margin-bottom: -25px!Important;
    }
    
    img.wcfmmp_sold_by_logos {
        width: 100%!important;
        height: 70px!important;
    }
}

/*412*/
@media(max-width: 412px) and (min-width:394px){
    .grid-container {
        width: 108%!important;
        margin-bottom: -25px!Important;
    }
    
    img.wcfmmp_sold_by_logos {
        width: 100%!important;
        height: 70px!important;
    }
}

/*414*/
@media(max-width: 414px) and (min-width:413px){
    .grid-container {
        width: 108%!important;
        margin-bottom: -25px!Important;
    }
    
    img.wcfmmp_sold_by_logos {
        width: 100%!important;
        height: 70px!important;
    }
}

/*Related products*/
section.related.products h2 {
    font-family: montserrat!Important;
}

/*Pro Button CSS*/
button.probutton {
    background-color: #003399!important;
    margin-left: 1100px!Important;
}


/*About CSs*/
.grid-container-about {
  display: grid;
  grid-template-columns: 90% 10%;
}
.grid-item-about {
  font-size: 14px;
  text-align: left;
  font-family: montserrat!important;
}
table {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Button*/

button.view-pro {
    font-family: montserrat!Important;
    font-weight: 600;
    background-color: #003399!important;
    color: white;
}


/**/

.wcfmmp_sold_by_container_advanced {
    margin-left: -13px!important;
}

.overall {
    margin-left: -10px!important;
}
@media(width: 1920px){
    .woocommerce-tabs ul.tabs {
    width: 50%!important;
    float: left;
    margin-right: 5.8823529412%;
}
}
@media(width: 1366px){
    .elementor-element.elementor-element-8bceda5.pro-words.elementor-column.elementor-col-33.elementor-inner-column {
    margin-left: 30px!important;
}
.woocommerce-tabs ul.tabs {
    width: 50%!Important;
    float: left;
    margin-right: 5.8823529412%;
}

.wcfmmp_sold_by_container_advanced {
    padding: 5px;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #dae2ed;
    margin-bottom: 20px;
    display: inline-block;
    width: auto;
    min-width: 245px!important;
}
}

@media(width: 1280px){
    .elementor-element.elementor-element-8bceda5.pro-words.elementor-column.elementor-col-33.elementor-inner-column {
    margin-left: 62px!important;
}

.wcfmmp_sold_by_container_advanced {
    padding: 5px;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #dae2ed;
    margin-bottom: 20px;
    display: inline-block;
    width: auto;
    min-width: 238px!important;
}
.woocommerce-tabs ul.tabs {
    width: 50%!Important;
    float: left;
    margin-right: 5.8823529412%;
}
}
@media(width: 1140px){
.wcfmmp_sold_by_container_advanced {
    padding: 5px;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #dae2ed;
    margin-bottom: 20px;
    display: inline-block;
    width: auto;
    min-width: 215px!important;
}

.elementor-element.elementor-element-8bceda5.pro-words.elementor-column.elementor-col-33.elementor-inner-column {
    margin-left: 62px!important;
}
.woocommerce-tabs ul.tabs {
    width: 50%!Important;
    float: left;
    margin-right: 5.8823529412%;
}
}/* End custom CSS */