.elementor-81755 .elementor-element.elementor-element-a5bba4d:not(.elementor-motion-effects-element-type-background), .elementor-81755 .elementor-element.elementor-element-a5bba4d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-81755 .elementor-element.elementor-element-a5bba4d{box-shadow:0px -4px 11px 4px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-a5bba4d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-81755 .elementor-element.elementor-element-596a42a{margin-top:0px;margin-bottom:0px;padding:20px 20px 0px 20px;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-6c534f3.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-6c534f3.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-62cff32.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-62cff32.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-62cff32 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-9ad5f85 > .elementor-widget-container{margin:0px 0px 0px 15px;padding:0% 0% 0% 0%;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-9f3885c.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-9f3885c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-9f3885c > .elementor-element-populated{color:#0E0E0E;}.elementor-81755 .elementor-element.elementor-element-9f3885c{z-index:1000;}.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu .elementor-item{font-family:"Montserrat", montserrat;font-size:17px;font-weight:400;}.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--main .elementor-item{color:#7A7A7A;}.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--main .elementor-item:focus{color:#7A7A7A;}.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown a, .elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-menu-toggle{color:#75797E;}.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown{background-color:#FFFFFF;}.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown a:hover,
					.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-menu-toggle:hover{color:#75797E;}.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown a:hover,
					.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown a.highlighted{background-color:#FFFFFF;}.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown .elementor-item, .elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Montserrat", montserrat;font-size:16px;font-weight:500;}.elementor-81755 .elementor-element.elementor-element-d277fe0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-d277fe0{z-index:100;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-cdba4fd.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-cdba4fd.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-icon i{color:#000000;font-size:14px;}.elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-icon svg{fill:#000000;width:14px;}.elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-text{padding-left:5px;}.elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-item{font-family:"Montserrat", montserrat;font-size:17px;font-weight:400;}.elementor-81755 .elementor-element.elementor-element-c1436df > .elementor-widget-container{margin:5px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-0c61567 > .elementor-widget-container{margin:10px 0px 0px 0px;padding:10px 0px 10px 0px;border-style:solid;border-width:2px 0px 0px 0px;border-color:#F3F3F3;}.elementor-81755 .elementor-element.elementor-element-1b2d3d4:not(.elementor-motion-effects-element-type-background), .elementor-81755 .elementor-element.elementor-element-1b2d3d4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-81755 .elementor-element.elementor-element-1b2d3d4{box-shadow:0px -4px 11px 4px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-1b2d3d4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-81755 .elementor-element.elementor-element-4d01b82 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-ee3a1d7{margin-top:0px;margin-bottom:0px;padding:020px 20px 0px 20px;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-300d0d2.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-300d0d2.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-8a41b09.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-8a41b09.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-8a41b09 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-72f6cc1 > .elementor-widget-container{margin:0px 0px 0px 15px;padding:0% 0% 0% 0%;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-48f14a9.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-48f14a9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-48f14a9 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-353ed9b .elementor-button .elementor-align-icon-right{margin-left:5px;}.elementor-81755 .elementor-element.elementor-element-353ed9b .elementor-button .elementor-align-icon-left{margin-right:5px;}.elementor-81755 .elementor-element.elementor-element-353ed9b .elementor-button{font-family:"Montserrat", montserrat;font-size:16px;font-weight:700;text-transform:none;fill:#000000;color:#000000;background-color:#FFFFFF;border-style:solid;border-width:1px 2px 1px 2px;border-color:#000000;border-radius:3px 3px 3px 3px;padding:6px 15px 6px 15px;}.elementor-81755 .elementor-element.elementor-element-353ed9b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-14961ec.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-14961ec.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-14961ec > .elementor-element-populated{color:#0E0E0E;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu .elementor-item{font-family:"Montserrat", montserrat;font-size:17px;font-weight:400;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--main .elementor-item{color:#7A7A7A;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--main .elementor-item:focus{color:#7A7A7A;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown a, .elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-menu-toggle{color:#75797E;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown{background-color:#FFFFFF;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown a:hover,
					.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-menu-toggle:hover{color:#75797E;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown a:hover,
					.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown a.highlighted{background-color:#FFFFFF;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown .elementor-item, .elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Montserrat", montserrat;font-size:16px;font-weight:500;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-d1eebb8{z-index:100;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-0ed6a79.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-0ed6a79.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-icon i{color:#000000;font-size:14px;}.elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-icon svg{fill:#000000;width:14px;}.elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-text{padding-left:5px;}.elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-item{font-family:"Montserrat", montserrat;font-size:17px;font-weight:400;}.elementor-81755 .elementor-element.elementor-element-3ef1444{margin-top:10px;margin-bottom:0px;}.elementor-81755 .elementor-element.elementor-element-c9ec194 > .elementor-widget-container{padding:10px 0px 10px 0px;border-style:solid;border-width:2px 0px 0px 0px;border-color:#F3F3F3;}.elementor-81755 .elementor-element.elementor-element-8807918:not(.elementor-motion-effects-element-type-background), .elementor-81755 .elementor-element.elementor-element-8807918 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-81755 .elementor-element.elementor-element-8807918{box-shadow:0px -4px 11px 4px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-8807918 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-81755 .elementor-element.elementor-element-9b7284d > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-8d56093{margin-top:0px;margin-bottom:0px;padding:20px 20px 0px 20px;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-94d8010.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-94d8010.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-7ae917d.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-7ae917d.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-7ae917d > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-e73e98e > .elementor-widget-container{margin:0px 0px 0px 15px;padding:0% 0% 0% 0%;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-6eefa7f.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-6eefa7f.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-6eefa7f.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-81755 .elementor-element.elementor-element-3326917 .elementor-button .elementor-align-icon-right{margin-left:5px;}.elementor-81755 .elementor-element.elementor-element-3326917 .elementor-button .elementor-align-icon-left{margin-right:5px;}.elementor-81755 .elementor-element.elementor-element-3326917 .elementor-button{font-family:"Montserrat", montserrat;font-size:16px;font-weight:600;text-transform:none;fill:#000000;color:#000000;background-color:#FFFFFF;border-style:solid;border-width:2px 2px 2px 2px;border-color:#FFF600;border-radius:3px 3px 3px 3px;padding:6px 15px 6px 15px;}.elementor-81755 .elementor-element.elementor-element-3326917 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-133851c.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-133851c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-d25f380 .elementor-button .elementor-align-icon-right{margin-left:5px;}.elementor-81755 .elementor-element.elementor-element-d25f380 .elementor-button .elementor-align-icon-left{margin-right:5px;}.elementor-81755 .elementor-element.elementor-element-d25f380 .elementor-button{font-family:"Montserrat", montserrat;font-size:16px;font-weight:700;text-transform:none;fill:#000000;color:#000000;background-color:rgba(0,0,0,0);border-radius:3px 3px 3px 3px;padding:6px 15px 6px 15px;}.elementor-81755 .elementor-element.elementor-element-d25f380 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-c45b7fd.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-c45b7fd.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-c45b7fd > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-991f094 .elementor-button .elementor-align-icon-right{margin-left:5px;}.elementor-81755 .elementor-element.elementor-element-991f094 .elementor-button .elementor-align-icon-left{margin-right:5px;}.elementor-81755 .elementor-element.elementor-element-991f094 .elementor-button{font-family:"Montserrat", montserrat;font-size:16px;font-weight:700;text-transform:none;fill:#000000;color:#000000;background-color:rgba(255,255,255,0);border-style:solid;border-width:1px 2px 1px 2px;border-color:#000000;border-radius:3px 3px 3px 3px;padding:6px 15px 6px 15px;}.elementor-81755 .elementor-element.elementor-element-991f094 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-7188ead > .elementor-widget-container{margin:10px 0px 0px 0px;padding:10px 0px 10px 0px;border-style:solid;border-width:2px 0px 0px 0px;border-color:#F3F3F3;}body.elementor-page-81755 h1.entry-title, .elementor-page-title{display:none;}@media(min-width:768px){.elementor-81755 .elementor-element.elementor-element-6c534f3{width:11%;}.elementor-81755 .elementor-element.elementor-element-62cff32{width:50.558%;}.elementor-81755 .elementor-element.elementor-element-9f3885c{width:18.985%;}.elementor-81755 .elementor-element.elementor-element-cdba4fd{width:19.438%;}.elementor-81755 .elementor-element.elementor-element-300d0d2{width:11%;}.elementor-81755 .elementor-element.elementor-element-8a41b09{width:33.711%;}.elementor-81755 .elementor-element.elementor-element-48f14a9{width:13.843%;}.elementor-81755 .elementor-element.elementor-element-14961ec{width:19.457%;}.elementor-81755 .elementor-element.elementor-element-0ed6a79{width:21.929%;}.elementor-81755 .elementor-element.elementor-element-94d8010{width:11%;}.elementor-81755 .elementor-element.elementor-element-7ae917d{width:29%;}.elementor-81755 .elementor-element.elementor-element-6eefa7f{width:38.071%;}.elementor-81755 .elementor-element.elementor-element-133851c{width:8.629%;}.elementor-81755 .elementor-element.elementor-element-c45b7fd{width:13.241%;}}@media(max-width:767px){.elementor-81755 .elementor-element.elementor-element-a5bba4d{padding:0px 0px 10px 0px;}.elementor-81755 .elementor-element.elementor-element-596a42a{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-6c534f3{width:50%;}.elementor-81755 .elementor-element.elementor-element-e893bc2 > .elementor-widget-container{margin:10px 0px 0px 10px;}.elementor-81755 .elementor-element.elementor-element-62cff32{width:50%;}.elementor-81755 .elementor-element.elementor-element-b9cb4bb{width:100%;max-width:100%;}.elementor-81755 .elementor-element.elementor-element-9f3885c{width:40%;}.elementor-81755 .elementor-element.elementor-element-9f3885c > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-d277fe0 .elementor-nav-menu .elementor-item{font-size:11px;}.elementor-81755 .elementor-element.elementor-element-d277fe0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-cdba4fd{width:60%;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-cdba4fd.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-cdba4fd.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-cdba4fd > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(10px/2);}.elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(10px/2);}.elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(10px/2);margin-left:calc(10px/2);}.elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-10px/2);margin-left:calc(-10px/2);}body.rtl .elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-10px/2);}body:not(.rtl) .elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-10px/2);}.elementor-81755 .elementor-element.elementor-element-c1436df .elementor-icon-list-item{font-size:13px;}.elementor-81755 .elementor-element.elementor-element-c1436df > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 0px 10px 0px;}.elementor-81755 .elementor-element.elementor-element-f4c0090 > .elementor-widget-container{margin:10px 0px 0px 10px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-f4c0090{width:100%;max-width:100%;}.elementor-81755 .elementor-element.elementor-element-1b2d3d4{padding:0px 0px 10px 0px;}.elementor-81755 .elementor-element.elementor-element-ee3a1d7{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-300d0d2{width:50%;}.elementor-81755 .elementor-element.elementor-element-f11d445 > .elementor-widget-container{margin:010px 0px 0px 10px;}.elementor-81755 .elementor-element.elementor-element-8a41b09{width:50%;}.elementor-81755 .elementor-element.elementor-element-077535f{width:100%;max-width:100%;}.elementor-81755 .elementor-element.elementor-element-14961ec{width:40%;}.elementor-81755 .elementor-element.elementor-element-14961ec > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 .elementor-nav-menu .elementor-item{font-size:11px;}.elementor-81755 .elementor-element.elementor-element-d1eebb8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-0ed6a79{width:60%;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-0ed6a79.elementor-column .elementor-column-wrap{align-items:center;}.elementor-81755 .elementor-element.elementor-element-0ed6a79.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-81755 .elementor-element.elementor-element-0ed6a79 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(10px/2);}.elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(10px/2);}.elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(10px/2);margin-left:calc(10px/2);}.elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-10px/2);margin-left:calc(-10px/2);}body.rtl .elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-10px/2);}body:not(.rtl) .elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-10px/2);}.elementor-81755 .elementor-element.elementor-element-7361fd5 .elementor-icon-list-item{font-size:13px;}.elementor-81755 .elementor-element.elementor-element-7361fd5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 0px 10px 0px;}.elementor-81755 .elementor-element.elementor-element-dc70302 > .elementor-widget-container{margin:10px 0px 0px 10px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-dc70302{width:100%;max-width:100%;}.elementor-81755 .elementor-element.elementor-element-8807918{padding:0px 0px 10px 0px;}.elementor-81755 .elementor-element.elementor-element-8d56093{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-94d8010{width:50%;}.elementor-81755 .elementor-element.elementor-element-0028603 > .elementor-widget-container{margin:10px 0px 0px 10px;}.elementor-81755 .elementor-element.elementor-element-d00cb5e > .elementor-widget-container{margin:10px 0px 0px 10px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-d00cb5e{width:100%;max-width:100%;}.elementor-81755 .elementor-element.elementor-element-7ae917d{width:50%;}.elementor-bc-flex-widget .elementor-81755 .elementor-element.elementor-element-7ae917d.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-81755 .elementor-element.elementor-element-7ae917d.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-81755 .elementor-element.elementor-element-5eaad44 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-5eaad44{width:100%;max-width:100%;}.elementor-81755 .elementor-element.elementor-element-6eefa7f{width:30%;}.elementor-81755 .elementor-element.elementor-element-6eefa7f > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-3326917 > .elementor-widget-container{margin:5px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-133851c{width:23%;}.elementor-81755 .elementor-element.elementor-element-d25f380 > .elementor-widget-container{padding:5px 0px 0px 0px;}.elementor-81755 .elementor-element.elementor-element-c45b7fd{width:45%;}.elementor-81755 .elementor-element.elementor-element-991f094 > .elementor-widget-container{padding:5px 0px 0px 0px;}}/* Start custom CSS for page-settings */input:focus {
    outline: none !important;
}
button:focus {
    outline: none !important;
}
.mega-menu-toggle {
    background-color: transparent !important;
}



#myDropdown2,
#myDropdown3,
#myDropdown4,
#myDropdown5,
#myDropdown6,
#myDropdown7,
#myDropdown8 {
    margin-left: 40px !important;
}



/*Search for Admin Mobile view*/
button.dropbtn2 {
    border-right: 1px solid #8d8d8d29;
    border-top: 1px solid #d8d8d8;
}

.dropbtn2 {
  background-color: #EDEDED;
  color: BABABA;
  padding: 0px 6px 0px 6px;

}

.dropdown2 {
  position: a;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    font-family: montserrat;
    background-color: white;
}
.dropdown2 a:hover {background-color: #ddd;}

.show2 {display: block;}
.searchBox2{display:flex;}
#searchIcon2{
    padding: 12px 12px;
    background-color: #eee;
}
span#searchIcon2 {
    background-color: #242424;
    color: white;
}

/*End of Search for  admin Mobile view */


/*Search for  admin Desktop view*/
button.dropbtn3 {
    border-right: 1px solid #8d8d8d29;
    border-top: 1px solid #d8d8d8;
}

.dropbtn3 {
  background-color: #EDEDED;
  color: BABABA;
  padding: 0px 5px 0px 5px;

}

.dropdown3 {
  position: a;
  display: inline-block;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    font-family: montserrat;
    background-color: white;
}
.dropdown3 a:hover {background-color: #ddd;}

.show3 {display: block;}
.searchBox3{display:flex;}
#searchIcon3{
    padding: 12px 12px;
    background-color: #eee;
}
span#searchIcon3 {
    background-color: #242424;
    color: white;
}

/*End of Search for Desktop admin view */




/*Search for Visistor Mobile view*/
button.dropbtn4 {
    border-right: 1px solid #8d8d8d29;
    border-top: 1px solid #d8d8d8;
}

.dropbtn4 {
  background-color: #EDEDED;
  color: BABABA;
  padding: 0px 6px 0px 6px;

}

.dropdown4 {
  position: a;
  display: inline-block;
}

.dropdown-content4 {
  display: none;
  position: absolute;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    font-family: montserrat;
    background-color: white;
}
.dropdown4 a:hover {background-color: #ddd;}

.show4 {display: block;}
.searchBox4{display:flex;}
#searchIcon4{
    padding: 12px 12px;
    background-color: #eee;
}
span#searchIcon4 {
    background-color: #242424;
    color: white;
}

/*End of Search for  admin Mobile view */


/*End of Search for  admin Mobile view */



/*Search for Client Desktop view*/

button.dropbtn5 {
    border-right: 1px solid #8d8d8d29;
    border-top: 1px solid #d8d8d8;
}

.dropbtn5 {
  background-color: #EDEDED;
  color: BABABA;
   padding: 0px 5px 0px 5px;

}

.dropdown5 {
  position: a;
  display: inline-block;
}

.dropdown-content5 {
  display: none;
  position: absolute;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    font-family: montserrat;
    background-color: white;
}
.dropdown5 a:hover {background-color: #ddd;}

.show5 {display: block;}
.searchBox5{display:flex;}
#searchIcon5{
    padding: 12px 12px;
    background-color: #eee;
}
span#searchIcon5 {
    background-color: #242424;
    color: white;
}

/*End of Search for  admin Mobile view */



/*Search for Visitor Desktop view*/

button.dropbtn6 {
    border-right: 1px solid #8d8d8d29;
    border-top: 1px solid #d8d8d8;
}

.dropbtn6 {
  background-color: #EDEDED;
  color: BABABA;
  padding: 0px 5px 0px 5px;

}

.dropdown6 {
  position: a;
  display: inline-block;
}

.dropdown-content6 {
  display: none;
  position: absolute;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content6 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    font-family: montserrat;
    background-color: white;
}
.dropdown6 a:hover {background-color: #ddd;}

.show6 {display: block;}
.searchBox6{display:flex;}
#searchIcon6{
    padding: 12px 12px;
    background-color: #eee;
}
span#searchIcon6 {
    background-color: #242424;
    color: white;
}

/*End of Search for Desktop Visitor view */




/*Search for Client Mobile view*/

button.dropbtn7 {
    border-right: 1px solid #8d8d8d29;
    border-top: 1px solid #d8d8d8;
}

.dropbtn7 {
  background-color: #EDEDED;
  color: BABABA;
  padding: 0px 6px 0px 6px;

}

.dropdown7 {
  position: a;
  display: inline-block;
}

.dropdown-content7 {
  display: none;
  position: absolute;
  min-width: 250px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content7 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    font-family: montserrat;
    background-color: white;
}
.dropdown7 a:hover {background-color: #ddd;}

.show7 {display: block;}
.searchBox7{display:flex;}
#searchIcon7{
    padding: 12px 12px;
    background-color: #eee;
}
span#searchIcon7 {
    background-color: #242424;
    color: white;
}

/*End of Client  admin Mobile view */

  
}



/*Mobile*/
/* Small devices (portrait tablets and large phones, 320px and up) */
@media only screen and (max-width:414px) {
    body {background: orange;}


}

/*320*/
@media only screen and (min-width: 320px) {
input#searchField2 {
    width: 235px !important;
}
input#searchField7 {
    width: 235px !important;
}
input#searchField4 {
    width: 235px !important;
}
#bp-client1 a.elementor-button-link.elementor-button.elementor-size-sm {
    padding: 10px 8px 10px 8px !important;
}

#bp-visitor1 a.elementor-button-link.elementor-button.elementor-size-sm {
    padding: 10px 8px 10px 8px !important;
    
}

}

@media only screen and (min-width: 360px) {
  
input#searchField2 {
     width: 274px !important;
}
input#searchField7 {
     width: 274px !important;
}
input#searchField4 {
     width: 274px !important;
}

}
@media only screen and (min-width: 375px) {

  input#searchField2 {
     width: 290px !important;
}
input#searchField7 {
     width: 290px !important;
}
input#searchField4 {
     width: 290px !important;
}

}

@media only screen and (min-width: 393px) {

  input#searchField2 {
     width: 309px !important;
}
input#searchField7 {
     width: 309px !important;
}
input#searchField4 {
     width: 309px !important;
}

}

@media only screen and (min-width:414px) {

    
input#searchField2 {
     width: 330px !important;
}
input#searchField7 {
     width: 330px !important;
}
input#searchField4 {
     width: 330px !important;
}


}




/*End of Search for  admin Mobile view */
/* Extra small devices (phones, 600px and down) */




/*Desktop*/
/* Extra large devices (large laptops and desktops, 1080 and up) */

/*1080*/
@media only screen and (min-width:1080px) {
input#searchField3 {
    width: 399px !important;
}
input#searchField5 {
    width: 235px;
}
input#searchField6 {
    width: 460px;
}
#bp-visitor1 a.elementor-button-link.elementor-button.elementor-size-sm {
    padding: 10px 8px 10px 8px !important;
}
#bp-client1 a.elementor-button-link.elementor-button.elementor-size-sm {
    padding: 10px 8px 10px 8px !important;
}
a.elementor-sub-item {
    font-size: 17px !important;
    font-family: montserrat !important;
}

.elementor-widget.elementor-icon-list--layout-inline .elementor-widget-container {

    width: 235px !important;
}

.noti-logout {
    margin-left: -28px !important;
}

.myap-admin {
    margin-left: -34px !important;
}
} 


/*1280*/
@media only screen and (min-width: 1280px) {
 

input#searchField3 {
    width: 490px !important;
}
input#searchField5 {
    width: 350px !important;
}
input#searchField6 {
    width: 590px !important;
}
.myap-client li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-79892 {
    margin-left: 38px !important;
}

#bp-client1 .elementor-button-wrapper {
    width: 284px !important;
}
a.elementor-sub-item {
    font-size: 17px !important;
    font-family: montserrat !important;
}
}

/*1366*/
@media only screen and (min-width: 1366px) {


input#searchField3 {
    width: 530px !important;
}
.myap-client li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-79892 {
    margin-left: 50px !important;
}
a.elementor-sub-item {
    font-size: 17px !important;
    font-family: montserrat !important;
}
}

/*1440*/
@media only screen and (min-width: 1440px) {

input#searchField3 {
    width: 575px !important;
}

input#searchField5 {
    width: 380px !important;
}
.myap-client li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-79892 {
    margin-left: 50px !important;
}

#bp-client1 .elementor-button-wrapper {
    width: 315px !important;
}
.myap-admin li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-79741 {
    margin-left: 67px !important;
}

.myap-client li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-79892 {
    margin-left: 70px !important;
}
a.elementor-sub-item {
    font-size: 17px !important;
    font-family: montserrat !important;
}
}

/*1920*/
@media only screen and (min-width: 1920px) {

input#searchField3 {
    width: 800px !important;
}
input#searchField5 {
    width: 700px !important;
}
.myap-admin li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-79741 {
    margin-left: 151px !important;
}

.myap-client li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-79892 {
    margin-left: 156px !important;
}


#bp-client1 .elementor-button-wrapper {
    width: 660px !important;
}

input#searchField5 {
    width: 700px !important;
}
a.elementor-sub-item {
    font-size: 17px !important;
    font-family: montserrat !important;
}
.myap-admin {
    margin-left: 115px !important;
}

.noti-logout {
    margin-left: 113px !important;
}
}

ul#mega-menu-max_mega_menu_1 {
    font-family: montserrat!important;
}/* End custom CSS */